<!DOCTYPE html>
<html lang="en">

<head>
  <!-- JQUERY -->
  <!-- API -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- AXIOS -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- STYLE SHEETS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- LATO weight 100-700-->
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <!--  FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- EXTERNAL JS -->
  <script type="text/javascript" src="../scripts/map.js"></script>
  <script type="text/javascript" src="../scripts/profile.js"></script>
  <!-- SERVER IN PROJECT ROOT -->
  <title>carta: profile</title>
  <!-- HEAD -->
</head>

<body>
  <nav>
    <a href="/index"><img src="/IMGS/header-circle-dark-small.png"></a>
    <ul>
      <li><a href="/logout">logout</a></li>
    </ul>
  </nav>
  <div class="main-container">
    <div class="box-body">
      <h1>hello,&nbsp; <%= user.name %>
      </h1>
      <h3><a href="/create">create map</a></h3>
      <h3 id="mine">my maps</h3>
      <h3 id="favorites">favorites</h3>
      <h3 id="contributions">contributions</h3>
    </div>

    <!-- explore -->
    <div id="slider">
      <div id="explore">
        <% for(let i=0; i < maps.length; i++) { %>
          <div class="wrapper">
            <div class="frame">
              <div class="preview">
                <img src="/IMGS/thumbnail.jpg">
              </div>
              <div class="description">
                <h1>
                  <%= maps[i].title %>
                </h1>
                <p>
                  <%= maps[i].description %>
                </p>
              </div>
            </div>
            <div class="right">
              <span class="likes">
                <i class="fas fa-heart" style="margin-right: 25px;"></i>
                <p>
                  <%= maps[i].likes %>
                </p>
              </span>
              <div class="edit">
                <form method="GET" action="profile/edit/id">
                  <i class="fas fa-edit" id="<%=maps[i].id%>"></i>
                </form>
                <form method="GET" action="profile/delete/id">
                  <i class="fas fa-trash-alt" style="margin-left: 20px;"></i>
                </form>
              </div>
            </div>
          </div>
          <% }%>
      </div>
    </div>
    <!-- MAIN CONTAINER -->
  </div>
</body>
<!-- to top-->
<button id="to-top"><img src="/IMGS/to-top.png"></i></button>

</html>
